body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #585858;
}

a {
  color: #169CEE;
  text-decoration: underline;
}

a:hover {
  color: #2C3D50;
}

a:visited {
  color: #2a6496;
}


/*
  helpers
 */

.align-center {
  text-align: center;
}

.hidden {
  display: none;
}

/*
  app css
 */

.container {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 860px;
}

#parse-logo {
  width: 109px;
  height: 110px;
  margin: 0 0 20px;
  text-align: center;
}

.up-and-running {
  font-weight: bold;
}

.advice {
  margin-bottom: 40px;
}

.advice {
  background: #f4f4f4;
  border-radius: 4px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  padding: 10px 20px;
}

#parse-url {
  color: #169CEE;
  font-weight: bold;
}

.step--container {
  margin: 30px 0 20px;
  border-top: 1px solid #E2E2E2;
  padding-top: 30px;
}

/* Disabled step */
.step--disabled .step--number {
  background: #fff;
  border-color: #B5B5B5;
  color: #B5B5B5;
}

.step--disabled .step--info {
  border-color: #B5B5B5;
  color: #B5B5B5;
}

.step--disabled .step--action-btn,
  .step--disabled .step--action-btn:hover {
  border-color: #B5B5B5;
  background: #fff;
  color: #B5B5B5;
  cursor: default;
}

/* Disabled step eof */

.step--action-btn.success,
.step--action-btn.success:hover {
  background: #57C689;
  border-color: #57C689;
  color: #fff;
  cursor: default;
  font-weight: bold;
}

.step--number {
  background: #169CEE;
  border: 1px solid #169CEE;
  border-radius: 28px;
  -webkit-border-radius: 28px 28px;
  -moz-border-radius: 28px 28px;
  -ms-border-radius: 28px 28px;
  -o-border-radius: 28px 28px;
  display: block;
  margin: auto;
  width: 47px;
  height: 47px;

  /* text */
  font-weight: bodler;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 47px; /* follows width and height */
}

.step--info { }

.step--action-btn {
  color: #169CEE;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #169CEE;
  padding: 12px 18px;
  border-radius: 28px;
  -webkit-border-radius: 28px 28px;
  -moz-border-radius: 28px 28px;
  -ms-border-radius: 28px 28px;
  -o-border-radius: 28px 28px;
  cursor: pointer;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  text-transform: uppercase;
}

.step--action-btn:hover {
  background: #169CEE;
  color: white;
}

.step--pre {
  margin-top: 4px;
  margin-bottom: 0;
  background: #f4f4f4;
  border-radius: 4px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  padding: 10px 20px;
  word-wrap: break-word;
  font-size: 13px;
}

#local-parse-working {
  font-size: 18px;
  line-height: 24px;
  color: #57C689;
  font-weight: bold;
}

#step-3 .step--number {
  background: #57C689;
  border-color: #57C689;
  margin: 0 20px 0;
  color: #fff;
  display: inline-block;
}
/*
.code-label {
      display: block;
    padding: 8px 15px 8px 15px;
    margin-bottom: -30px;
    font-weight: 400;
    color: #333;
    background-color: #ECECEC;

    text-align: center;
    font-size: 14px;
    z-index: 2;
    position: relative;
}
*/
