body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #585858;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

a {
  color: #169CEE;
  text-decoration: underline;
}

a:hover {
  color: #2C3D50;
}

a:visited {
  color: #2a6496;
}

p {
  font-size: 16px;
  line-height: 28px;
}

/*
  helpers
 */

.align-center {
  text-align: center;
}

.hidden {
  display: none;
}

.floaters {
  position: relative;
  overflow: auto;
}

.float-left {
  float: left;
  position: relative;
}

.float-right {
  float: left;
  position: relative;
}

.highlight {
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  padding: 3px 3px;
  border-radius: 4px;
  font-style: italic;
}

/*
  app css
 */

.container {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 860px;
}

#parse-logo {
  width: 109px;
  height: 110px;
  margin: 0 0 20px;
  text-align: center;
}

.up-and-running, .time-to-deploy {
  font-weight: bold;
}

.advice {
  margin-bottom: 40px;
}

.advice {
  background: #f4f4f4;
  border-radius: 4px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  padding: 10px 20px;
}

#parse-url {
  color: #169CEE;
  font-weight: bold;
}

.step--container {
  margin: 30px 0 20px;
  border-top: 1px solid #E2E2E2;
  padding-top: 30px;
}

/* Disabled step */
.step--disabled .step--description {
  background: #fff;
  border-color: #B5B5B5;
  color: #B5B5B5;
}

.step--disabled .step--info {
  border-color: #B5B5B5;
  color: #B5B5B5;
}

.step--disabled .step--action-btn,
  .step--disabled .step--action-btn:hover {
  border-color: #B5B5B5;
  background: #fff;
  color: #B5B5B5;
  cursor: default;
}

/* Disabled step eof */

.step--action-btn.success,
.step--action-btn.success:hover {
  background: #57C689;
  border-color: #57C689;
  color: #fff;
  cursor: default;
  font-weight: bold;
}

.step--description {
  /* text */
  font-size: 20px;
  color: #169CEE;
  line-height: 47px; /* follows width and height */
}

.step--info { }

.step--action-btn {
  color: #169CEE;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #169CEE;
  padding: 12px 18px;
  border-radius: 28px;
  -webkit-border-radius: 28px 28px;
  -moz-border-radius: 28px 28px;
  -ms-border-radius: 28px 28px;
  -o-border-radius: 28px 28px;
  cursor: pointer;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  text-transform: uppercase;
}

.step--action-btn:hover {
  background: #169CEE;
  color: white;
}

.step--pre {
  margin-top: 4px;
  margin-bottom: 0;
  background: #f4f4f4;
  border-radius: 4px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  padding: 10px 20px;
  word-wrap: break-word;
  font-size: 13px;
}

#local-parse-working {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0,0,0,.4);
  font-weight: bold;
}

.step--check {
  background: #57C689;
  border: 1px solid #57C689;
  border-radius: 28px;
  -webkit-border-radius: 28px 28px;
  -moz-border-radius: 28px 28px;
  -ms-border-radius: 28px 28px;
  -o-border-radius: 28px 28px;
  display: block;
  width: 47px;
  height: 47px;
  font-weight: bolder;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 47px; /* follows width and height */
  margin: auto;
}

.step--deploy-btn {
  margin-top: 20px;
  color: #57C689 !important;
  font-weight: bold;
  border-color: #57C689;
}

.step--deploy-btn:hover {
  background: #57C689;
  color: #fff !important;
}

#prod-test {
  margin-bottom: 20px;
}

#prod-test input {
  background-color: #fff;
  border: 1px solid #B5B5B5;
  color: #000000;
  font-family: "Inconsolata";
  font-size: 16px;
  line-height: 17px;
  padding: 12px;
  width: 260px;
  border-radius: 4px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  display:block;
  margin-bottom: 10px;
}

/*
.code-label {
      display: block;
    padding: 8px 15px 8px 15px;
    margin-bottom: -30px;
    font-weight: 400;
    color: #333;
    background-color: #ECECEC;

    text-align: center;
    font-size: 14px;
    z-index: 2;
    position: relative;
}
*/

#steps {  
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid  rgba(0,0,0,.2);
}

.steps--item {
  box-sizing: border-box;
  border-top: 3px solid rgba(0,0,0,.2);
  padding: 15px 10px;
  position: relative;
}

.steps--item-description {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0,0,0,.4);
  padding-left: 5px;
  line-height: 17px;
  display: block;
}

/* Inactive Steps */

.steps--item-active {
  border-top: 3px solid #428BCA;
}

.steps--item-check {
  font-size: 20px;
  color: #B5B5B5;
  font-weight: normal;
}

.steps--item-active .steps--item-description,
  .steps--item-active .steps--item-check {
  color: #428BCA;
  font-weight: bold;
}

/* Inactive Steps */

.steps--item-completed {
  border-top: 3px solid #BAE6CE;
}

.steps--item-active .steps--item-check {
  color: #428BCA;
  font-weight: bold;
  line-height: 17px;
}

.steps--item-completed .steps--item-check {
  color: #57C689;
  font-family: LucidaGrande;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.steps--item-finalize .steps--item-description {
  line-height: 30px;
}
